<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: head(title='Login - Jogos Pessoa Idosa', cssFile='/css/login.css')}"></head>
<body>
<script th:replace="~{fragments/base :: bootstrapScripts}"></script>
<nav th:replace="~{fragments/menu :: menu}"></nav>


<main id="conteudo" class="home-container">
    <section class="intro">
                            <h2>Login</h2>
                            <div th:if="${sucesso}" th:text="${sucesso}" class="sucesso"></div>
                            <div th:if="${erro}" th:text="${erro}" class="erro"></div>
    </section>

    <section class="actions">
               <form class="actions" th:action="@{/auth/login}" method="post" th:object="${login}">
                                <label>Email:</label>
                                <input type="email" th:field="*{email}" />

                                <label>Senha:</label>
                                <input type="password" th:field="*{senha}" />

                                <!-- Botão com classe Bootstrap-like -->
                                <button type="submit" class="btn btn-primary">Entrar</button>
                                <!-- Link estilizado como botão secundário -->
                                <a th:href="@{/registro}" >Registre-se</a>
                                <!-- Link estilizado como botão secundário -->
                                <a th:href="@{/resetar}" >Nova Senha</a>
                </form>
    </section>

</main>

</body>

</html>