<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/base :: head(title='Registro - Jogos Pessoa Idosa', cssFile='/css/registro.css')}"></head>
<body>
<script th:replace="~{fragments/base :: bootstrapScripts}"></script>
<nav th:replace="~{fragments/menu :: menu}"></nav>


<main id="conteudo" class="home-container">
    <section class="intro">
                            <h2>Cadastro</h2>
                            <div th:if="${sucesso}" th:text="${sucesso}" class="sucesso"></div>
                            <div th:if="${erro}" th:text="${erro}" class="erro"></div>
        
    </section>
    <section class="actions">

        <form class="actions" th:action="@{/auth/registro}" method="post" th:object="${usuario}">
            <label>Nome:</label>
            <input type="text" th:field="*{nome}" /><br/>

            <label>Email:</label>
            <input type="email" th:field="*{email}" /><br/>
            
            <label>Palavra Magica:</label>
            <input type="password" th:field="*{palavraMagica}" /><br/>

            <label>Senha:</label>
            <input type="password" th:field="*{senha}" /><br/>

            <!-- Botão com classe Bootstrap-like -->
            <button type="submit" class="btn btn-primary">Registrar</button>
            <!-- Link estilizado como botão secundário -->
            <a th:href="@{/login}" >Login</a>
        </form>
     

    </section>

</main>

</body>

</html>